<div class="panel panel-default">
    <center>
        <h6>Followers</h6>
    </center>
    <% @followers.each do |follower| %>
    <div class="panel-body">
        <p style="font-weight: bold; opacity: 0.85;">
            <center>
                <a href="/user/<%= follower.username %>"><%= "@#{follower.username}" %></a>
            </center>
        </p>
    </div>
    <% end %>
</div>

<div class="panel panel-default">
    <center>
        <h6>Following</h6>
    </center>
    <% @following.each do |follower| %>
    <div class="panel-body">
        <p style="font-weight: bold; opacity: 0.85;">
            <center>
                <a href="/user/<%= follower.username %>"><%= "@#{follower.username}" %></a>
            </center>
        </p>
    </div>
    <% end %>
</div>
