<div class="panel panel-default">
    <div class="panel-body">
        <h5 style="color:gray; font-size: 125%;">Trends</h5>
        <a href="#">#NYMets</a><br>
        <span style="color: #93c572;">8945K Pistachios</span>
    </div>
    <div class="panel-body">
        <a href="#">#BabyGroot</a><br>
        <span style="color: #93c572;">745K Pistachios</span>
    </div>
    <div class="panel-body">
        <a href="#">#Yolo</a><br>
        <span style="color: #93c572;">645K Pistachios</span>
    </div>
    <div class="panel-body">
        <a href="#">#Cookies</a><br>
        <span style="color: #93c572;">545K Pistachios</span>
    </div>
    <div class="panel-body">
        <a href="#">#Logan</a><br>
        <span style="color: #93c572;">445K Pistachios</span>
    </div>
    <div class="panel-body">
        <a href="#">#DogKisses</a><br>
        <span style="color: #93c572;">445K Pistachios</span>
    </div>
</div>
