<div class="row">
    <div class="col-xs-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <h5 style="color: grey; font-size: 125%;">Explore</h5>
                <p style="opacity: 0.5; font-size: 90%;">
                    Connect with your friends.<br>
                    Chat with new friends.<br>
                    Tell them what's "cracking" in your life<br>
                    Treat it like a blog, but with 140 characters or less.
                </p>
            </div>
        </div>
        <%= render '/components/trend_container' %><br><br>

    </div>
    <div class="col-xs-6">
      <% if user_signed_in? %>
      <%= render '/components/post_form' %>
      <% end %>
        <% if user_signed_in? %>
        <br>
        <% end %>
        <br>
        <%= render '/components/display_post' %>

        <div class="panel panel-default post-panel">
            <div class="panel-body row">
                <div class="col-sm-12">
                    <center>
                        <img src="/icon.png" height="25px" width="25px"></img>
                        <a href="#top">
                            <p class="opacity: .7;">Back to top
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            </p>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <% if user_signed_in? %>
        <%= render '/components/who_to_follow' %><br><br>
        <% end %>

        <div class="panel panel-default">
            <div class="panel-body">
                <p style="opacity: 0.5; font-size: 75%;">&copy; 2017 Pistachio<br>
                    Created by LMTowner
                    <a href="https://linkedin.com/in/lmtowner">Linkedin</a><br></p>
            </div>
        </div>

    </div>
</div>
